STELLAR_NETWORK=testnet
STELLAR_RPC_URL=https://soroban-testnet.stellar.org
STELLAR_HORIZON_URL=https://horizon-testnet.stellar.org
X402_FACILITATOR_URL=https://x402.org/facilitator
SERVICE_OPERATOR_SECRET=
SERVICE_OPERATOR_PUBLIC=
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
PORT=3000
